{% extends "jio_app/base_admin.html" %}
{% load static %}

{% block title %}JIO - Panel de Administrador{% endblock %}

{% block nav_items %}
<li class="nav-item">
    <a class="nav-link" href="#">
        <i class="fas fa-tachometer-alt"></i> Dashboard
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'jio_app:usuarios_list' %}">
        <i class="fas fa-users"></i> Usuarios
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
        <i class="fas fa-truck"></i> Repartidores
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
        <i class="fas fa-calendar"></i> Reservas
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
        <i class="fas fa-gamepad"></i> Juegos
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
        <i class="fas fa-chart-bar"></i> Reportes
    </a>
</li>
{% endblock %}
